{{~#each elements as |e|}}
{{~#if e.field as |field| }}
{{> field field}}
{{/if}}

{{~#if e.transform }}

<div class="transform">
    {{#with (unique_id "field_list_") as |id|}}
    {{#if e.transform.elements}}
    <div class="transform_name filled_transform" onclick="toggle_element('{{id}}', 'flex')">
    {{else}}
    <div class="transform_name empty_transform">
    {{/if}}
    tf {{e.transform.id}} `{{e.transform.display_name}}`
    </div>
    {{#if e.transform.elements}}
    <div class="field-list" id="{{id}}" >
        {{> display_elem_list e.transform }}
    </div>
    {{/if}}
    {{/with}}
</div>
{{/if}}

{{~#if e.subchains as |subchains| }}

<div class="chain-list">
    {{#each subchains as |sc|}}
    {{> display_order sc }}
    {{/each}}

</div>
{{~/if}}
{{~/each}}
