{{let "collapsed_field_container_id" "collapsed_field_container_" id~}}  {{! (unique_id "collapsed_field_container_id_") }}
{{let "field_container_id" "field_container_" id~}}  {{! (unique_id "collapsed_field_id_") }}
<div
    class="collapsed-field-container"
    highlight_tag="[{{update_id}}_field_{{id}}]"
    collapse_tag="[{{collapsed_field_container_id}}]"
    style="display: none;"
    onclick="toggle_collapsable('{{field_container_id}}', '{{collapsed_field_container_id}}', 'inline-block')"
>
    <div
        class="field-id"
    >
        {{id}}
    </div>
</div>
<div class="field-container" collapse_tag="[{{field_container_id}}]">
    <table
        {{#if pending_actions}}
        class="field dirty"
        {{else}}
        class="field"
        {{/if}}
        collapse_tag="[field_{{id}}]"
        highlight_tag="[{{update_id}}_field_{{id}}]"
    >
        <thead>
            <th
                class="header-row"
                colspan="6"
                onclick="toggle_collapsable('{{field_container_id}}', '{{collapsed_field_container_id}}', 'inline-block')"
            >
                <div class="header tooltip-parent">
                    <div class="field-id">
                        {{id}}
                    </div>
                    <div class="field-name">
                        {{name}}
                    </div>
                    <div class="field-producing-arg">
                        {{#if producing_arg}}
                        `{{producing_arg}}`
                        {{/if}}
                    </div>
                    {{#if cow}}
                    <div
                        class="field-owned-info field-is-cow {{cow.variant}}"
                        onmouseenter="highlight('{{update_id}}_field_{{cow.source}}')"
                        onmouseleave="unhighlight('{{update_id}}_field_{{cow.source}}')"
                    >
                        {{cow.variant}}: {{cow.source}}
                    </div>
                    {{else}}
                    <div class="field-owned-info field-is-owned">owned</div>
                    {{/if}}
                    {{#if pending_actions includeZero=true}}
                    <span class="tooltip-text">
                        Pending Actions:
                        {{#if pending_actions}}
                            {{#each pending_actions as |action|}}
                                <br> {{action.field_pos}}: ({{action.kind}}, {{action.run_length}})
                            {{/each}}
                        {{else}}
                            None
                        {{/if}}
                    </span>
                    {{/if}}
                </div>
            </th>
        </thead>
        <thead>
            <th colspan="6">
                <div class="iter-list-descriptor-wrapper">
                    <div class="iter-list-descriptor">Leading Iters:</div>
                    {{>iter_list iters=this.iters_before_start update_id=update_id}}
                </div>
            </th>
        </thead>
        <thead>
            <th colspan="6">
                <div class="ref-list">
                    <div class="desc">References:</div>
                    <div class="ref size-placeholder">9</div>
                    {{#each field_refs as |ref|}}
                    <div class="ref"
                        onmouseenter="highlight('{{../update_id}}_field_{{ref}}')"
                        onmouseleave="unhighlight('{{../update_id}}_field_{{ref}}')"
                    >{{ref}}
                    </div>
                    {{/each}}
                </div>
            </th>
        </thead>
        <thead>
            <th class="field-table-header">#</th>
            <th class="field-table-header">Meta</th>
            <th class="field-table-header">RL</th>
            <th class="field-table-header">Size</th>
            <th class="field-table-header">Data</th>
            <th class="field-table-header">Iters</th>
        </thead>
        <tbody>
            {{#each rows as |row|}}
            {{~let "update_id" ../update_id}}
            {{#each (range row.dead_slots) as |id|}}
            <tr class="field-row dead-row">
                <td colspan="6">
                    <div class="dead-row-placeholder">
                        <div class="meta-list">
                            <div class="padding">0</div>
                            <div class="data_type">DataType</div>
                            <div class="flag flag_same_as_prev"></div>
                        </div>
                        {{>iter_list iters=[] update_id=update_id}}
                    </div>
                </td>
            </tr>
            {{/each}}

            {{~#if row.shadow_meta}}
            {{~let "flag_shadow" " flag-shadow"}}
            {{~else}}
            {{~let "flag_shadow" ""}}
            {{~/if}}
            {{~#if row.shadow_data}}
            {{~let "flag_shadow_data" " flag-shadow"}}
            {{~else}}
            {{~let "flag_shadow_data" ""}}
            {{~/if}}
            <tr
                class="field-row"
                {{#if (eq row.repr "stream_value_id")}}
                highlight_tag="[{{update_id}}_sv_ref_{{row.value}}]"
                onmouseenter="highlight('{{update_id}}_sv_{{row.value}}')"
                onmouseleave="unhighlight('{{update_id}}_sv_{{row.value}}')"
                {{/if}}
            >
                <td class="field-pos">
                    {{#if (not row.deleted)}}
                    {{row.field_pos}}
                    {{/if}}
                </td>
                <td>
                    <div class="meta-list">
                        {{#if (eq row.padding 0)}}
                        <div class="padding padding-zero{{flag_shadow}}">
                        {{else}}
                        <div class="padding padding-non-zero{{flag_shadow}}">
                        {{/if}}
                            {{row.padding}}
                        </div>
                        <div class="data_type{{flag_shadow}}">
                            {{row.repr}}
                        </div>
                        <div
                            {{#if row.same_as_prev}}
                            class="flag flag_same_as_prev{{flag_shadow}}"
                            {{else}}
                            class="flag flag_disabled{{flag_shadow}}"
                            {{/if}}
                        ></div>
                        <div
                            {{#if row.shared}}
                            class="flag flag_shared{{flag_shadow}}"
                            {{else}}
                            class="flag flag_disabled{{flag_shadow}}"
                            {{/if}}
                        ></div>
                        <div
                            {{#if row.deleted}}
                            class="flag flag_deleted{{flag_shadow}}"
                            {{else}}
                            class="flag flag_disabled{{flag_shadow}}"
                            {{/if}}
                        ></div>
                    </div>
                </td>
                <td class="rl{{flag_shadow}}">
                    {{#if (not shadow_meta)}}
                    {{row.run_length}}
                    {{/if}}
                </td>
                <td class="size{{flag_shadow}}">
                    {{#if (not shadow_data)}}
                    {{row.size}}
                    {{/if}}
                </td>
                <td class="data{{flag_shadow_data}} {{row.repr}}">
                    {{row.value}}
                </td>
                <td>
                    {{>iter_list iters=row.iters update_id=update_id}}
                </td>
            </tr>
            {{/each}}
            {{#if iters_after_end}}
            <tr class="field-row">
                <td colspan="6"></td>
                <td>
                    {{>iter_list iters=iters_after_end update_id=update_id}}
                </td>
            </tr>
            {{/if}}
        </tbody>
    </table>
</div>
