{{~let "collapsed_field_container_id" "collapsed_field_container_" id }}  {{! (unique_id "collapsed_field_container_id_") }}
{{~let "field_container_id" "field_container_" id }}  {{! (unique_id "collapsed_field_id_") }}
<div
    class="collapsed-field-container"
    highlight_tag="[{{transform_update_id}}_field_{{id}}]"
    collapse_tag="[{{collapsed_field_container_id}}]"
    style="display: none;"
    onclick="toggle_collapsable('{{field_container_id}}', '{{collapsed_field_container_id}}', 'inline-block')"
>
    <div
        class="field-id"
    >
        {{id}}
    </div>
</div>
<div class="field-container" collapse_tag="[{{field_container_id}}]">
    <table
        class="field"
        collapse_tag="[field_{{id}}]"
        highlight_tag="[{{transform_update_id}}_field_{{id}}]"
    >
        <thead>
            <th
                class="header-row"
                colspan="5"
                onclick="toggle_collapsable('{{field_container_id}}', '{{collapsed_field_container_id}}', 'inline-block')"
            >
                <div class="header">
                    <div class="field-id">
                        {{id}}
                    </div>
                    <div class="field-name">
                        {{#if name}}
                        @{{name}}
                        {{/if}}
                    </div>
                    <div class="field-producing-arg">
                        {{#if producing_arg}}
                        `{{producing_arg}}`
                        {{/if}}
                    </div>
                    {{#if cow}}
                    <div
                        class="field-owned-info field-is-cow {{cow.variant}}"
                        onmouseenter="highlight('{{transform_update_id}}_field_{{cow.source}}')"
                        onmouseleave="unhighlight('{{transform_update_id}}_field_{{cow.source}}')"
                    >
                        {{cow.variant}}: {{cow.source}}
                    </div>
                    {{else}}
                    <div class="field-owned-info field-is-owned">owned</div>
                    {{/if}}
                </div>
            </th>
        </thead>
        <thead>
            <th colspan="5">
                <div class="iter-list-descriptor-wrapper">
                    <div class="iter-list-descriptor">Leading Iters:</div>
                    {{>iter_list iters=this.iters_before_start transform_update_id=transform_update_id}}
                </div>
            </th>
        </thead>
        <thead>
            <th colspan="5">
                <div class="ref-list">
                    <div class="desc">References:</div>
                    <div class="ref size-placeholder">9</div>
                    {{#each field_refs as |ref|}}
                    <div class="ref"
                        onmouseenter="highlight('{{../transform_update_id}}_field_{{ref}}')"
                        onmouseleave="unhighlight('{{../transform_update_id}}_field_{{ref}}')"
                    >{{ref}}
                    </div>
                    {{/each}}
                </div>
            </th>
        </thead>
        <thead>
            <th class="field-table-header">Meta</th>
            <th class="field-table-header">RL</th>
            <th class="field-table-header">Size</th>
            <th class="field-table-header">Data</th>
            <th class="field-table-header">Iters</th>
        </thead>
        <tbody>
            {{#each rows as |row|}}
            {{~let "transform_update_id" ../transform_update_id}}
            {{#each (range row.dead_slots)}}
            <tr class="field-row dead-row">
                <td colspan="5">
                    <div class="dead-row-placeholder">
                        <div class="meta-list">
                            <div class="padding">0</div>
                            <div class="data_type">DataType</div>
                            <div class="flag flag_same_as_prev"></div>
                        </div>
                        {{>iter_list iters=[] transform_update_id=transform_update_id}}
                    </div>
                </td>
            </tr>
            {{/each}}

            {{~#if row.shadow_meta}}
            {{~let "flag_shadow" " flag-shadow"}}
            {{~else}}
            {{~let "flag_shadow" ""}}
            {{~/if}}
            {{~#if row.shadow_data}}
            {{~let "flag_shadow_data" " flag-shadow"}}
            {{~else}}
            {{~let "flag_shadow_data" ""}}
            {{~/if}}
            <tr class="field-row">
                <td >
                    <div class="meta-list">
                        {{#if (eq row.padding 0)}}
                        <div class="padding padding-zero{{flag_shadow}}">
                        {{else}}
                        <div class="padding padding-non-zero{{flag_shadow}}">
                        {{/if}}
                            {{row.padding}}
                        </div>
                        <div class="data_type{{flag_shadow}}">
                            {{row.repr}}
                        </div>
                        <div
                            {{#if row.same_as_prev}}
                            class="flag flag_same_as_prev{{flag_shadow}}"
                            {{else}}
                            class="flag flag_disabled{{flag_shadow}}"
                            {{/if}}
                        ></div>
                        <div
                            {{#if row.shared}}
                            class="flag flag_shared{{flag_shadow}}"
                            {{else}}
                            class="flag flag_disabled{{flag_shadow}}"
                            {{/if}}
                        ></div>
                        <div
                            {{#if row.deleted}}
                            class="flag flag_deleted{{flag_shadow}}"
                            {{else}}
                            class="flag flag_disabled{{flag_shadow}}"
                            {{/if}}
                        ></div>
                    </div>
                </td>
                <td class="rl{{flag_shadow}}">
                    {{#if shadow_meta}}{{else}}
                    {{row.run_length}}
                    {{/if}}
                </td>
                <td class="size{{flag_shadow}}">
                    {{#if shadow_data}}{{else}}
                    {{row.size}}
                    {{/if}}
                </td>
                <td class="data{{flag_shadow_data}}">{{row.value}}</td>
                <td>
                    {{>iter_list iters=row.iters transform_update_id=transform_update_id}}
                </td>
            </tr>
            {{/each}}
            {{#if iters_after_end}}
            <tr class="field-row">
                <td colspan="4"></td>
                <td>
                    {{>iter_list iters=iters_after_end transform_update_id=transform_update_id}}
                </td>
            </tr>
            {{/if}}
        </tbody>
    </table>
</div>
