<div class="group-track-container">
    <table class="group-track" id="{{transform_update_id}}_group_track{{id}}">
        <thead>
            <th colspan="5">
                <div class="header">
                    <div class="group-track-id">G-{{id}}</div>
                    <div class="group-track-producing-arg">
                        {{#if producing_arg}}
                        `{{producing_arg}}`
                        {{/if}}
                    </div>
                    <div class="group-track-tag">Group Track</div>
                </div>
            </th>
        </thead>
        <thead>
            <th colspan="5">
                <div class="iter-list-descriptor-wrapper">
                    <div class="iter-list-descriptor">Iters:</div>
                    {{>iter_list iters=this.iters transform_update_id=transform_update_id}}
                </div>
            </th>
        </thead>
        <thead>
            <th colspan="5">
                <div class="ref-list">
                    <div class="desc">Refs:</div>
                    <div class="ref size-placeholder">9</div>
                </div>
            </th>
        </thead>
        <thead>
            <th>Group Id</th>
            <th>Len</th>
            <th>Iters</th>
        </thead>
        <tbody>
            {{#each rows as |row|}}
            {{~let "transform_update_id" ../transform_update_id}}
            {{#each (range row.dead_slots)}}
            <tr class="group-track-row dead-row">
                <td colspan="3">
                    <div class="dead-row-placeholder">
                        <div class="group-idx">0</div>
                        <div class="group-len-rem">0</div>
                        {{>iter_list iters=[] transform_update_id=transform_update_id}}
                    </div>
                </td>
            </tr>
            {{/each}}

            {{~#if row.is_group_start}}
            {{~let "flag_shadow" ""}}
            {{~else}}
            {{~let "flag_shadow" " flag-shadow"}}
            {{~/if}}

            <tr class="group-track-row">

                <td class="group-idx{{flag_shadow}}">{{row.group_idx}}</td>
                <td class="group-len-rem{{flag_shadow}}">
                    {{#if row.is_group_start}}
                    {{row.group_len}}
                    {{/if}}
                </td>
                <td>
                    {{>iter_list iters=row.iters transform_update_id=transform_update_id}}
                </td>
            </tr>
            {{/each}}
        </tbody>
    </table>
</div>
