{{let "collapsed_group_track_container_id" "collapsed_group_id_" id~}} {{! (unique_id "collapsed_field_container_id_")}}
{{~let "group_track_container_id" "group_id_" id ~}} {{! (unique_id "collapsed_field_id_") }}
<div
    class="collapsed-field-container"
    highlight_tag="[{{update_id}}_group_track_{{id}}]"
    collapse_tag="[{{collapsed_group_track_container_id}}]"
    style="display: none;"
    onclick="toggle_collapsable('{{group_track_container_id}}', '{{collapsed_group_track_container_id}}', 'inline-block')"
>
    <div
        class="field-id"
    >
        G-{{id}}
    </div>
</div>
<div class="group-track-container" collapse_tag="[{{group_track_container_id}}]">
    <table
        class="group-track"
        highlight_tag="[{{update_id}}_group_track_{{id}}]"
        collapse_tag="[group_track_{{id}}]"
    >
        <thead>
            <th
                class="header-row"
                colspan="5"
                onclick="toggle_collapsable('{{group_track_container_id}}', '{{collapsed_group_track_container_id}}', 'inline-block')"
            >
                <div class="header">
                    <div class="group-track-id">
                        G-{{id}}
                    </div>
                    <div class="group-track-producing-arg"></div>
                    <div class="group-track-tag">Group Track</div>
                </div>
            </th>
        </thead>
        <thead>
            <th colspan="5">
                <div class="iter-list-descriptor-wrapper">
                    <div class="iter-list-descriptor">Leading Iters:</div>
                    {{>iter_list iters=this.iters_before_start update_id=update_id}}
                </div>
            </th>
        </thead>
        <thead>
            <th colspan="5">
                <div class="ref-list">
                    <div class="desc">References:</div>
                    <div class="ref size-placeholder">9</div>
                    {{#if alias_source includeZero=true}}
                    <div class="ref group-track-alias-source"
                        onmouseenter="highlight('{{update_id}}_group_track_{{alias_source}}')"
                        onmouseleave="unhighlight('{{update_id}}_group_track_{{alias_source}}')"
                    >
                        Alias: G-{{alias_source}}
                    </div>
                    {{/if}}
                    {{#if corresponding_header includeZero=true}}
                    <div class="ref group-track-corresponding-header"
                        onmouseenter="highlight('{{update_id}}_group_track_{{corresponding_header}}')"
                        onmouseleave="unhighlight('{{update_id}}_group_track_{{corresponding_header}}')"
                    >
                        Header: G-{{corresponding_header}}
                    </div>
                    {{/if}}
                    {{#if parent includeZero=true}}
                    <div class="ref group-track-parent"
                        onmouseenter="highlight('{{update_id}}_group_track_{{parent}}')"
                        onmouseleave="unhighlight('{{update_id}}_group_track_{{parent}}')"
                    >
                        Parent: G-{{parent}}
                    </div>
                    {{/if}}
                </div>
            </th>
        </thead>
        <thead>
            <th class="group-track-table-header tooltip-parent">
                PGA
                <span class="tooltip-text">
                    Parent Group Advancement
                </span>
            </th>
            <th class="group-track-table-header">GID</th>
            <th class="group-track-table-header">Len</th>
            <th class="group-track-table-header">Iters</th>
        </thead>
        <tbody>
            {{#each rows as |row|}}
            {{~let "update_id" ../update_id~}}
            {{#each (range row.dead_slots)}}
            <tr class="group-track-row dead-row">
                <td colspan="4">
                    <div class="dead-row-placeholder">
                        <div class="group-idx">0</div>
                        <div class="group-len-rem">0</div>
                        {{>iter_list iters=[] update_id=update_id}}
                    </div>
                </td>
            </tr>
            {{/each}}
            {{~#if row.is_group_start}}
            {{~let "flag_shadow" ""~}}
            {{else}}
            {{~let "flag_shadow" " flag-shadow"~}}
            {{/if}}
            <tr class="group-track-row">
                <td class="starts-new-parent-group{{flag_shadow}}">{{row.parent_group_advancement}}</td>
                <td class="group-idx{{flag_shadow}}">{{row.group_idx}}</td>
                <td class="group-len-rem{{flag_shadow}}">
                    {{#if row.is_group_start}}
                    {{row.group_len}}
                    {{/if}}
                </td>
                <td>
                    {{>iter_list iters=row.iters update_id=update_id}}
                </td>
            </tr>
            {{/each}}
            {{#if iters_after_end}}
            <tr class="field-row">
                <td colspan="2"></td>
                 <td>
                    {{>iter_list iters=iters_after_end update_id=update_id}}
                </td>
            </tr>
            {{/if}}
        </tbody>
    </table>
</div>
