{{! TODO: investigate why the indenting for this partial is so messed up }}
<div class="iter-list">
    <div class="iter iter-placeholder">9</div>
    {{#each iters as |iter|}}
    {{#if transform_id includeZero=true}}
    <div
        class="iter tooltip-parent iter-transform"
        onmouseenter="highlight('{{../update_id}}_tf_{{transform_id}}')"
        onmouseleave="unhighlight('{{../update_id}}_tf_{{transform_id}}')"
    >
    {{else}}
    {{#if cow_field_id}}

    <div
        class="iter tooltip-parent iter-cow-field"
        onmouseenter="highlight('{{../update_id}}_field_{{cow_field_id}}')"
        onmouseleave="unhighlight('{{../update_id}}_field_{{cow_field_id}}')"
    >
    {{else}}
    <div class="iter tooltip-parent">
    {{/if}}
    {{/if}}
        {{display_text}}
        <span class="tooltip-text">
            {{tooltip_text}}
        </span>
    </div>
    {{/each}}
</div>
