<div class="transform-container"
    collapse_tag="tf_{{transform_id}}"
>
    <div class="transform"
        highlight_tag="{{transform_update_id}}_tf_{{transform_id}}"
    >
        {{~#if (or fields (or subchains group_tracks))}}
        <div
            class="transform-name filled_transform"
            onclick="toggle_collapsable('tf_{{transform_id}}', 'collapsed_tf_{{transform_id}}')"
        >
            {{#if transform_id includeZero=true}}
            tf {{transform_id}} `{{transform_display_name}}`
            {{/if}}
        </div>
        <div
            class="transform-body"
        >
            {{~#if subchains}}
            <div class="chain-list">
            {{#each subchains as |subchain|}}
                {{>transform_chain subchain transform_update_id=../transform_update_id}}
            {{/each}}
            </div>
            {{/if}}
            {{#if group_tracks}}
            <div class="group-track-list">
                {{#each group_tracks as |group_track|}}
                {{>group_track group_track transform_update_id=../transform_update_id}}
                {{/each}}
            </div>
            {{/if}}
            {{#if fields}}
            <div class="field-list">
                {{#each fields as |field|}}
                {{>field field transform_update_id=../transform_update_id}}
                {{/each}}
            </div>
            {{/if}}
        </div>
        {{else}}
        <div
            class="transform-name empty-transform"
            highlight_tag="{{transform_update_id}}_tf_{{transform_id}}"
            collapse_tag="{{transform_update_id}}_tf_{{transform_id}}"
        >
            {{#if transform_id includeZero=true}}
            tf {{transform_id}} `{{transform_display_name}}`
            {{/if}}
        </div>
        {{/if}}
    </div>
</div>
<div
    class="collapsed-transform-container"
    highlight_tag="{{transform_update_id}}_tf_{{transform_id}}"
    collapse_tag="collapsed_tf_{{transform_id}}"
    style="display: none;"
    onclick="toggle_collapsable('tf_{{transform_id}}', 'collapsed_tf_{{transform_id}}')"
>
    <div class="transform-name">
        {{#if transform_id includeZero=true}}
        tf {{transform_id}} `{{transform_display_name}}`
        {{/if}}
    </div>
</div>
