{{! this partial is intentionally indented one level, because it gets written directly inside the html body !}}
    {{~let "transform_update_id" (unique_id "tfu_")}}
    {{~let "transform_update_body_id" (unique_id "transform_update_body_id_")}}
    {{~let "collapsed_transform_update_body_id" (unique_id "collapsed_transform_update_body_id_")}}
    <div class="transform-update">
        <div
            collapse_tag="[{{transform_update_id}}]"
            class="transform-update-text"
            onclick="toggle_collapsable('{{transform_update_body_id}}', '{{collapsed_transform_update_body_id}}')"
            onmouseenter="highlight('{{transform_update_id}}_tf_{{transform_id}}')"
            onmouseleave="unhighlight('{{transform_update_id}}_tf_{{transform_id}}')"
        >
            {{transform_update_text}}
        </div>
        <div class="transform-update-body" collapse_tag="[{{transform_update_body_id}}]">
            {{>transform_chain transform_chain transform_update_id=transform_update_id}}
            {{#if stream_values}}
            {{>stream_values stream_values=stream_values transform_update_id=transform_update_id}}
            {{/if}}
        </div>
        <div
            class="collapsed-transform-update-body"
            collapse_tag="[{{collapsed_transform_update_body_id}}]"
            style="display: none;"
            onclick="toggle_collapsable('{{transform_update_body_id}}', '{{collapsed_transform_update_body_id}}')"
        >
        </div>
    </div>
{{!/transform}}
